.env

/app/Http/Controllers/*
!/app/Http/Controllers/Default/
!/app/Http/Controllers/Default/*
!/app/Http/Controllers/Generated

/app/Http/Controllers/Generated/*

/resources/views/*
!/resources/views/components/
!/resources/views/admin/
!/resources/views/admin/login.blade.php

/routes/*
!/routes/api.php
!/routes/channels.php
!/routes/console.php

/app/Models/*
!/app/Models/.gitkeep
!/app/Models/User.php

/app/ORM/Generated/Repository/*
!/app/ORM/Generated/Repository/.gitkeep

/routes/*
!/routes/api.php
!/routes/channels.php
!/routes/console.php